<html>
<%- include ("./partials/head") %> 
<body>
    <%- include("./partials/header")%>
    <main class="products">
    <section class="titulos ttablas"><h1>Preguntas frecuentes</h1></section>
    
        
        <section class="tablas">
            <articles><img src="/images/pagina/preguntas.png"></articles>
            <articles><h1>¿QUIÉNES SOMOS?</h1>
                <p>Somos el grupo Indefined, esta es nuestra marca XPERSON de indumentaria destinada a personas, de estilo urbano, queremos que tengas la libertad de eligir ropa sin preocupaciones </p>
            </articles>
            <articles><h1>¿CÓMO COMPRAR?</h1>
            <p>Selecciona el articulo deseado y agreguelo al carrito de compras, luego indique su metodo de pago y medio por el cual desea resivirlo. Ante cualquier duda consultenos <a href="#">AQUÍ</a></p>
            </articles>
            <articles><h1>¿CUÁNDO SE DESPACHA MI PEDIDO?</h1>
            <p> Los pedidos son despachados, de lunes a viernes, dentro de las 24 horas de realizada la compra. Por medio nuestras empresas de logística JIPINK Y SHIPNOW, quienes trabajan con varios correos identificando la opción más ágil a destino. Una vez despachada la compra recibirás un contacto vía mail con la información y estado del mismo.</p>
            </articles>
            
        </section>
    </main>
    

    </body>
    <%- include("./partials/footer") %> 