<html>
<%- include ("./partials/head") %> 
<body>
    <%- include("./partials/header")%>
    <main class="products">
    <section class="titulos ttablas"><h1>Talles</h1></section>
    
        
        <section class="tablas">
            <articles><h1>Remera</h1>
            <img src="/images/product-description/remera.jpg" alt="descripcion remera"></articles>
            
            <articles><h1>Pantalón</h1>
            <img src="/images/product-description/pantalon.JPG" alt="descripcion pantalon"></articles>
        </section>
    </main>
    

    </body>
    <%- include("./partials/footer") %> 